@import-normalize;

@font-face {
  font-family: "Cabin";
  src: url("./assets/fonts/Cabin-Regular.ttf");
}

@font-face {
  font-family: "Quite Magical";
  src: url("./assets/fonts/Quite-Magical.ttf");
}

:root {
  --background-color: #f9f8f8;
  --brown-1: #6f4518;
  --brown-2: #bc8a5f;
  --brown-3: #d4a276;
  --white: #fefefe;
  --font-heading: "Quite Magical";
  --font-body: "Cabin";
  --footer-height: 200px;
  --nav-height: 89px;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-body), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

h1,
h2,
h3 {
  font-family: var(--font-heading), sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

