.nf-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
}

.help-text {
  margin-left: 50px;
  font-family: "Cabin", sans-serif;
}

@media screen and (max-width: 920px) {
  .nf-container {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 0;
  }

  .help-text {
    margin: 0 0 30px 0;
  }
}