.search-wrapper {
  display: flex;
  background-color: #ffedd8;
  padding: 5px;
  height: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 97vw;
}

.filters {
  box-sizing: border-box;
  margin: calc(86px + 2vh) 0 0;
  background-color: #ffedd8;
  width: 30%;
  height: 30vh;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 78.5vh;
}

.results {
  display: flex;
  background-color: #ffedd8;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 920px) {
  .search-wrapper {
    flex-direction: column;
    width: 97%;
  }

  .filters,
  .results {
    width: 100%;
  }

  .filters {
    margin: 0;
    padding: 0;
    height: 30vh;
  }

  .results {
    flex-direction: column;
  }
}