.nav-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: #d4a276;
  border: 1.5px solid #6f4518;
  border-top: 0;
  align-items: center;
  height: var(--nav-height);
  width: calc(100% - 30px);
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
}

.logo-to-home {
  display: flex;
  align-items: center;
  width: 25vw;
}

.go-home {
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  padding-left: 6px;
  position: relative;
  right: 0;
  transition: right ease 0.5s;
}

.go-home:hover {
  right: -10px;
}

.go-home-hidden {
  display: none;
}

.logo {
  width: 110px;
}

.small-logo {
  width: calc(var(--nav-height) - 20px);
  padding: 5px 0;
  display: none;
}

.create-dog {
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  padding-top: 10px;
}

.links-container {
  display: flex;
  width: 20vw;
  justify-content: space-around;
}

.about {
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  padding-top: 10px;
}

@media screen and (max-width: 920px) {
  .vertical-div-nav {
    display: none;
  }

  .nav-container {
    display: block;
    width: 100%;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid var(--brown-1);
  }

  .links-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .create-dog,
  .about {
    margin-bottom: 20px;
  }

  .logo {
    display: none;
  }

  .small-logo {
    display: block;
  }

  .go-home-hidden,
  .go-home {
    display: none;
  }
}
