.pagination-ctrl-container {
  display: flex;
  padding: 30px 0 10px;
  justify-content: center;
  background-color: transparent;
  height: 46px;
}

.pagination-ctrl-container strong {
  color: #603808;
  padding-top: 0px;
  font-size: 28px;
}

.pagination-ctrl-container strong::selection {
  color: #603808;
  background-color: transparent;
}

.button-container {
  margin: 0 50px;
}

.nav-buttons {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  background-color: var(--brown-2);
  color: var(--brown-1);
  border: 1px solid var(--brown-1);
  width: 30px;
  height: 30px;
  font-size: 13px;
  text-decoration: none;
}

.nav-buttons::selection {
  color: #603808;
  background-color: transparent;
}

.button-container::selection,
.button-container:active {
  background-color: transparent;
}

.btn-placeholder {
  display: inline;
  margin: 0 50px;
  text-align: center;
  background-color: transparent;
  border: 2px solid transparent;
  width: 30px;
  height: 30px;
}

.nav-buttons:hover {
  background: #6f4518;
  box-shadow: 3px 3px 3px #603808;
  color: #a47148;
  border-color: #603808;
}

.link {
  cursor: pointer;
}

.link:visited,
.link:link,
.link:active {
  color: #6f4518;
  text-decoration: none;
}

.disabled-link {
  display: none;
}

@media screen and (max-width: 920px) {
  .pagination-ctrl-container {
    padding: 5vh 0 2vh;
  }

  .btn-placeholder {
    width: 40px;
    height: 40px;
  }

  .nav-buttons {
    width: 40px;
    height: 40px;
    font-size: 22px;
  }

  .pagination-ctrl-container strong {
    display: none;
  }
}

@media screen and (max-height: 530px) {
  .pagination-ctrl-container {
    margin-top: 18vh;
  }
}
