.about-page {
  font-family: "Quite Magical", sans-serif;
  color: #603808;
}

.about-page h1,
.about-container h3 {
  text-align: center;
}

.about-container {
  margin: 0 auto;
  width: 60%;
  height: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
}

.about-container h3 {
  font-size: 15px;
  font-family: "Cabin", sans-serif;
  margin-left: 3%;
  width: 100%;
}

.about-container p {
  margin-left: 3%;
  width: 100%;
  font-family: "Cabin", sans-serif;
}

.socials-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
  margin: 2vh 0;
}

.social-item {
  display: flex;
  align-items: flex-end;
}

.social-item:hover {
  filter: brightness(1.2);
} 

.text-link {
  width: max-content;
  font-size: 20px;
  padding-bottom: 5%;
}

.tech-ul {
  padding: 0;
  font-size: 17px; 
  font-family: "Cabin", sans-serif;
  list-style: "› ";
}

.tech-ul li {
  margin-left: 1.5%;
}

@media screen and (max-width: 900px) {
  .socials-wrapper {
    flex-direction: column;
    width: max-content;
  }

  .social-item {
    margin-top: 10px;
    width: 100%;
  }
}